.movie--container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}

.movie--favorites {
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  width: 90%;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
}