/* Universal styles */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html, body, #root, .App {
  height: 100%;
  position:fixed;
  overflow: auto;
  width: 100%;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #D5D4D8;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #777792;
  border-radius: 3px;
}

h1 {
  font-family: 'Karla', sans-serif;
  font-size: 1.16rem;
}

